body {
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, #355020, #94E058, #1a3306);
  background-attachment: fixed;
  height: 100vh;
  background-attachment: fixed;
}

nav {
  max-height: 100px;
}

.eleccion {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: white;
  border-radius: 10px;
}

.eleccion h2 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.eleccion button {
  border: none;
  outline: none;
  height: 90px;
  width: 130px;
  background: white;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.recuadro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 40px;
  padding: 40px 50px;
}

.recuadro .nombre {
  display: flex;
  width: 100%;
  height: 35px;
  font-size: 15px;
  align-items: center;
  margin: 30px 0;
}

.nombre input {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border: 2xp solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

.recuadro .apellido {
  display: flex;
  width: 100%;
  height: 35px;
  font-size: 15px;
  align-items: center;
  margin: 30px 0;
}

.apellido input {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border: 2xp solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

.recuadro .email {
  display: flex;
  width: 100%;
  height: 35px;
  font-size: 15px;
  align-items: center;
}

.email input {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border: 2xp solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

.recuadro .password {
  display: flex;
  width: 100%;
  height: 35px;
  font-size: 15px;
  align-items: center;
}

.password input {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border: 2xp solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

.recuadro .btn {
  background-color: rgb(53, 121, 247);
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 40px;
}

.bienvenida {
  font-size: 15px;
  color: rgb(128, 128, 128);
  display: flex;
}

.recuadro1 {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border-radius: 40px;
  padding: 40px 50px;
}

.bvenida1 {
  color: rgb(128, 128, 128);
  font-size: 13px;
}

.barra {
  transform: translate(20%, -130%);
  align-items: center;
  font-size: 20px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

.btn1 {
  background-color: rgb(53, 121, 247);
  transform: translate(20%);
  border-radius: 40px;
  border: none;
  outline: none;
  height: 50px;
}

.btn2 {
  background-color: rgb(53, 121, 247);
  transform: translate(60%);
  border-radius: 40px;
  border: none;
  outline: none;
  height: 50px;
}

.btn3 {
  background-color: rgb(53, 121, 247);
  transform: translate(50%);
  border-radius: 40px;
  border: none;
  outline: none;
  height: 50px;
}

.header0 {
  background-color: white;
  height: 120px;
}

.logo0 {
  background-color: rgb(234, 235, 236);
  width: 50%;
  border-radius: 10%;
  height: 35%;
}

.container3 {
  background-color: rgb(234, 235, 236);
  width: 60%;
  border-radius: 10%;
}

.container5 {
  background-color: rgb(234, 235, 236);
  width: 60%;
  border-radius: 10%;
}

table * {
  transition: 100ms;
}

td:hover {
  background-color: #0d6efd !important;
  color: white !important;
  cursor: pointer;
}

td:active {
  opacity: 80%;
  transition: 0ms;
}

table {
  font-weight: 200;
}

th {
  background: none !important;
}

/* Clases para responsive */
@media (max-width: 768px) {
  .recuadro {
    width: 90%;
  }
  .recuadro .nombre {
    margin: 20px 0;
  }
  .recuadro .apellido {
    margin: 20px 0;
  }
  .recuadro .email {
    margin: 20px 0;
  }
  .recuadro .password {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .recuadro {
    width: 80%;
  }
  .recuadro .nombre {
    margin: 10px 0;
  }
  .recuadro .apellido {
    margin: 10px 0;
  }
  .recuadro .email {
    margin: 10px 0;
  }
  .recuadro .password {
    margin: 10px 0;
  }
}